.about-application {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $dark-blue; // Заменить на более темный.
  color: $white;
}

.about-application__container {
  position: relative;
  min-height: 402px;
  min-width: 320px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -69px;
  margin-bottom: 20px;
  top: 1px;
}

.about-application__container--closed {
  min-height: 457px;
  background-position: 0 -1px;
  top: -65px;
}

.abiut-application__download {
  background: none;
  border: 3px solid $white;
  border-radius: 25px 25px;
  padding: 15px 36px;
  margin-bottom: 34px;
  color: $white;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.about-application__support {
  color: $white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 31px;
  text-align: center;

  p {
    padding: 0;
    margin: 0;
  }
}

.about-application__slogan {
  margin: 0;
  padding: 0;
  margin-top: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 27px;
  font-weight: 300;
  text-align: center;
}

.about-application__slogan--closed {
  margin-top: 90px;
}

.about-application__photo {
  position: absolute;
  top: 106px;
  width: 258px;
}

.about-application__photo--closed {
  top: 170px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .container {
    display: flex;
    position: relative;
    align-items: flex-start;
    min-height: 617px;
    margin: 0 auto;
    padding: 0 20px;
    min-width: 620px;
  }

  .about-application {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -269px -112px;
  }

  .container::after {
    content: "";
    position: absolute;
    top: 44px;
    left: 115px;
    width: 529px;
    height: 600px;
    background-image: url("../../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: -134px;
    background-size: auto;
  }

  .about-application__container {
    display: flex;
    flex-shrink: 0;
    position: relative;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 28px;
    min-height: 0;
    min-width: 0;
  }

  .about-application__photo {
    display: none;
  }

  .about-application__support {
    z-index: 1;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    padding-left: 2px;
  }

  .about-application__slogan {
    justify-content: start;
    flex-shrink: 0;
    max-width: 300px;
    z-index: 1;
    font-size: 40px;
    line-height: 48px;
    margin-top: 89px;
    margin-bottom: 4px;
  }

  .abiut-application__download {
    z-index: 1;
    padding: 15px 45px;
    margin-bottom: 46px;
  }
}
