.about-application {
  background: $dark-blue;
  color: $white;
}

.about-application__container {
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.abiut-application__download {
  background: none;
  border: 3px solid $white;
  border-radius: 25px 25px;
  padding: 15px 25px;
  color: $white;
  font-size: 18px;
  line-height: 18px;
}

.about-application__support {
  color: $white;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighte;
}
