.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantages img {
  display: none;
}

.advantages__container {
  background-color: $white-two;
  position: relative;
  min-height: 405px;
}


.advantages__container-img {
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 10px;
  height: 287px;
}

.advantages__item {
  text-align: center;
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  margin: 0 30px 31px;
}

.advantages__promo {
  font-size: 24px;
  line-height: 28px;
  font-weight: light;
  margin-bottom: 114px;

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  p:first-child {
    margin-top: 43px;
    margin-bottom: 30px;
  }
}

@media (max-width: $mobile-width) {
  .advantages__container {
    background-color: $white-two;
    position: relative;

    &::before {
      position: absolute;
      top: -82px;
      left: -10px;
      content: "";
      width: 0;
      height: 0;
      border-bottom: 35px solid $white-two;
      border-left: 330px solid transparent;
      z-index: -1;
    }

    &::after {
      position: absolute;
      top: -48px;
      left: 0;
      content: "";
      width: 320px;
      height: 100px;
      z-index: -1;
      background-color: $white-two;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width) {
  .advantages__container {
    background-color: $white-two;
    position: relative;

    &::before {
      position: absolute;
      top: -75px;
      left: 0;
      content: "";
      width: 0;
      height: 0;
      border-bottom: 51px solid $white-two;
      border-left: 660px solid transparent;
      z-index: -1;
    }

    &::after {
      position: absolute;
      top: -25px;
      left: 0;
      content: "";
      width: 660px;
      height: 60px;
      z-index: -1;
      background-color: $white-two;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__promo {
    font-size: 40px;
    line-height: 48px;
    font-weight: light;
    margin-bottom: 114px;

    p:first-child {
      margin-top: 48px;
      margin-bottom: 0;
    }

    p:last-child {
      padding: 0 50px;
      margin-bottom: 7px;
    }
  }

  .advantages__container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 46px;
    padding-bottom: 6px;
  }

  .advantages__container-img {
    min-width: 300px;
    background: none;

    &::after {
      content: "";
      position: absolute;
      width: 270px;
      height: 483px;
      top: -72px;
      left: 19px;
      background-image: url("../../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .advantages__item {
    text-align: start;
    padding: 0 20px 0 0;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 1;
  }

  .advantages__title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
    padding: 0 30px;
  }

  .advantages__description {
    font-size: 14px;
    line-height: 24px;
    margin: 0 10px 35px 30px;
  }
}

@media (min-width: $desktop-width) and (max-width: $desktop-width) {
  .advantages__container {
    &::after {
      position: absolute;
      top: -142px;
      left: 0;
      content: "";
      max-width: 1200px;
      height: 50px;
      border-bottom: 93px solid $white-two;
      border-left: 1200px solid transparent;
      z-index: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__container::before {
    display: none;
  }

  .advantages__promo {
    font-size: 50px;
    line-height: 48px;
    font-weight: light;
    margin: 0;
    margin-bottom: 174px;

    p:first-child {
      margin: 0;
      margin-bottom: 10px;
    }

    p:last-child {
      line-height: 57px;
      padding: 0 250px;
      margin-bottom: 0;
    }
  }


  .advantages__container img {
    display: flex;
  }

  .advantages__container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin-bottom: 0;
    position: relative;
    align-items: center;
  }

  .advantages__container-img {
    display: none;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-around;
    min-width: 960px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    max-width: 240px;
    min-height: 453px;
    padding: 0;
    margin: 0;
    margin-top: 14px;
    position: relative;

    &:nth-of-type(1) {
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../img/iphone-screen-1-desktop@1x.png");
        background-position: center;
        background-repeat: no-repeat;
        top: -110px;
        left: 23px;
        width: 200px;
        height: 300px;
        margin-bottom: 33px;
        z-index: 2;
      }

      &::after {
        content: "";
        position: relative;
        width: 230px;
        height: 2px;
        top: -262px;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    &:nth-of-type(2) {
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../img/iphone-screen-2-desktop@1x.png");
        background-position: center;
        background-repeat: no-repeat;
        top: -110px;
        left: 23px;
        width: 200px;
        height: 300px;
        margin-bottom: 33px;
        z-index: 2;
      }

      &::after {
        content: "";
        position: relative;
        width: 230px;
        height: 2px;
        top: -262px;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    &:nth-of-type(3) {
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../img/iphone-screen-3-desktop@1x.png");
        background-position: center;
        background-repeat: no-repeat;
        top: -110px;
        left: 23px;
        width: 200px;
        height: 300px;
        margin-bottom: 33px;
        z-index: 2;
      }

      &::after {
        content: "";
        position: relative;
        width: 230px;
        height: 2px;
        top: -262px;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    img {
      display: none;
    }
  }

  .advantages__title {
    margin: 0;
    font-size: 30px;
    line-height: 32px;
    padding: 0;
    margin-bottom: 22px;
  }

  .advantages__description {
    margin: 0;
    padding: 0 5px;
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__photo {
    display: flex;
    flex-direction: row;
  }
}
