.competition-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.competition-form__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.competition-form fieldset {
  border: none;
}

.competition-form__item label {
  font-weight: normal;
  color: $pink;
  text-transform: uppercase;
}

input[type="text"], input[type="number"], input[type="email"] {
  display: flex;
  min-width: 177px;
  padding: 22px 79px 18px 22px;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  outline: none;
  border: 2px solid #e5e5e5;
  border-radius: 3px 3px;
}

input[type="text"]::placeholder, input[type="number"]::placeholder, input[type="email"]::placeholder, textarea::placeholder  {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
}

textarea::placeholder {
  padding: 10px;
}

.competition-form__item:nth-child(2n) {
  background-color: $white-two;
  margin-bottom: 41px;
  padding-left: 20px;
}

.competition-form__title {
  text-align: center;
  color: $pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

input[type="radio"] + label, input[type="checkbox"] + label {
  color: $dark-blue;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-transform: none;
}

.competition-form__item textarea {
  width: 276px;
  height: 197px;
  color: $dark-blue;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  border: 2px solid #e5e5e5;
  border-radius: 3px 3px;
  outline: none;
  resize: none;
  margin-bottom: 52px;
}

.competition-form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competition-form__button {
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  padding: 12px 47px;
  text-transform: uppercase;
  background: $green;
  border-radius: 3px 3px;
  outline: none;
}

.competition-form__required-fields {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.competition-form__required-fields sup {
  color: $pink;
}


@media (min-width: $tablet-width) {

  input[type="text"], input[type="number"], input[type="email"] {
    flex-direction: row;
  }

  .competition-form  fieldset:not(:nth-child(1)) {
    border: 2px solid #e5e5e5;
    background: transparent;
  }

  .competition-form__item {
    min-width: 616px;
  }

  .competition-form__item-full-name {
    order: 1;
    margin-bottom: 69px;
  }


  .competition-form__item-full-name .site-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .competition-form__item-full-name input {
    margin-bottom: 0;
    flex-basis: 100%;
  }

  .competition-form__item-full-name label {
    margin-right: 20px;
  }

  .competition-form__item:nth-child(2n) {
    background-color: $white-two;
    margin-bottom: 69px;
    padding-left: 20px;
  }

  .competition-form__item-progress {
    order: 4;
    margin-bottom: 69px;
  }

  .competition-form__item-contact-information {
    order: 3;
    margin-bottom: 69px;
  }

  .competition-form__item-application {
    order: 2;
    margin-bottom: 69px;
  }

  .competition-form__item-message {
    order: 5;
    margin-bottom: 69px;
    align-items: center;
    justify-content: center;
    border: 1px solid red;

  }

  .competition-form__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 6;
  }

  .competition-form__button {
    margin: 0;
  }

  .competition-form__item textarea {
    margin: 47px 60px 53px;
    width: 496px;
  }
}

@media (min-width: $desktop-width) {
  width: 1200px;
  margin: 0 auto;
}
