.competition-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.competition-form__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-last-name-label {
  margin: 0;
  margin-bottom: 12px;
}

.filter-first-name-label {
  margin: 0;
  margin-bottom: 12px;
}

.filter-middle-name-label {
  margin: 0;
  margin-bottom: 12px;
}

.competition-form fieldset {
  border: none;
}

.competition-form__item label {
  font-weight: normal;
  color: $pink;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin-left: 25px;
}

.competition-form-wrapper {
  background-color: $white-two;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.competition-form__item-full-name-wrapper {
  margin-bottom: 10px;
}

.competition-form__contact-information-wrapper {
  margin-bottom: 10px;
}

.competition-form__application-wrapper {
  background-color: $white-two;
  padding-bottom: 13px;
}

.competition-form__list-aplication li {
  display: flex;
  align-items: center;
  min-height: 75px;
}


input[type="text"],
input[type="number"],
input[type="email"] {
  display: flex;
  min-width: 177px;
  padding: 15px 66px 15px 22px;
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 30px;
  color: $dark-blue;
  outline: none;
  border: 2px solid #e5e5e5;
  border-radius: 3px 3px;
}


input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  font-weight: normal;
}

textarea::placeholder {
  padding: 10px 20px;
}

.competition-form__item:nth-child(2n) {
  background-color: $white-two;
  margin-bottom: 41px;
  padding-left: 20px;
}

.competition-form__title {
  text-align: center;
  color: $pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 37px 30px 0 30px;
  margin-bottom: 13px;
}

.competition-form__title-application {
  padding: 38px 30px 0 30px;
  margin-bottom: 11px;
}

.competition-form__title-message {
  padding: 38px 30px 0 30px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  color: $dark-blue;
  font-size: 19px;
  line-height: 30px;
  font-weight: normal;
  text-transform: none;
  padding-left: 50px;
}

input[type="checkbox"] {
  width: 36px;
  height: 36px;
  margin-left: 7px;
  margin-right: 5px;
}

input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -20px;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  background-color: $white;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/icon-yes.svg");
}

input[type="radio"] {
  width: 36px;
  height: 36px;
  margin-left: 7px;
  margin-right: 6px;
}

input[type="radio"] + label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background-color: $white;
}

input[type="radio"]:checked + label::before {
  position: absolute;
  content: "";
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $pink;
  top: 7px;
  left: -8px;
}

.competition-form__list-progress li {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 82px;
}

.competition-form__item textarea {
  width: 276px;
  height: 192px;
  color: $dark-blue;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  border: 2px solid #e5e5e5;
  border-radius: 3px 3px;
  outline: none;
  resize: none;
  margin-bottom: 33px;
}

.competition-form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competition-form__button {
  min-height: 63px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: $white;
  padding: 12px 47px;
  text-transform: uppercase;
  background: $green;
  border-radius: 3px 3px;
  outline: none;
  margin-bottom: 35px;
}

.competition-form__required-fields {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin-right: 30px;
}

.competition-form__required-fields sup {
  color: $pink;
  font-weight: bold;
}

.filter-phone-number-label {
  margin: 0;
  margin-bottom: 10px;
}

.filter-email-number-label {
  margin: 0;
  margin-bottom: 4px;
  margin-left: -30px;
}

@media (min-width: $tablet-width) {
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    flex-direction: row;
  }

  .competition-form fieldset {
    border: 2px solid #e5e5e5;
    padding: 0;
  }


  .competition-form__item {
    min-width: 616px;
  }

  .competition-form__filter div {
    &:nth-of-type(1) {
      order: 1;

      fieldset {
        border: none;
      }
    }

    &:nth-of-type(2) {
      order: 4;
      background-color: $white;
    }

    &:nth-of-type(3) {
      order: 3;
    }

    &:nth-of-type(4) {
      order: 2;
    }
  }


  .competition-form__application-wrapper {
    background-color: $white;
    padding-bottom: 0;
  }

  .competition-form__title-application {
    font-size: 14px;
    line-height: 30px;
    padding: 0 30px;
    margin-bottom: 11px;
  }

  .competition-form__item-application {
    margin-bottom: 56px;
    min-height: 310px;
  }

  .competition-form__item-contact-information {
    margin-bottom: 49px;

    input[type="number"] {
      margin-bottom: 12px;
    }

    input[type="email"] {
      margin-bottom: 12px;
    }
  }

  .competition-form__item-progress {
    margin-bottom: 17px;
    position: relative;
    min-height: 556px;

    legend {
      padding: 0 35px;
      margin: 0;
      margin-bottom: 12px;
      font-size: 14px;
    }
  }

  .competition-form__item-message {
    order: 5;
    margin-bottom: 66px;
    align-items: center;
    justify-content: center;
  }

  .competition-form__button-wrapper {
    order: 6;
    min-width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
  }

  .competition-form__item-full-name .site-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 43px;
    }
  }

  .competition-form__item-full-name input {
    margin-bottom: 0;
    flex-basis: 100%;
  }

  .competition-form__item-full-name label {
    margin-right: 0;
  }

  .competition-form__item label {
    margin: 0;
  }

  .competition-form__item:nth-child(2n) {
    background-color: $white-two;
    margin-bottom: 69px;
    padding-left: 20px;
  }

  .competition-form__item-contact-information .site-list__item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .competition-form__item-contact-information input {
    height: 60px;
    width: 496px;
    margin-bottom: 21px;
    box-sizing: border-box;
  }

  input[type="number"],
  input[type="email"] {
    margin-bottom: 21;
  }

  .competition-form__item-contact-information label {
    font-size: 14px;
    line-height: 30px;
    display: flex;
    margin: 0;
    margin-right: 332px;
    margin-bottom: 20px;
  }

  .competition-form__item-contact-information legend {
    padding: 0 35px;
    margin: 0;
    margin-bottom: 39px;
  }

  .competition-form__item textarea {
    margin: 38px 57px 47px;
    width: 496px;
    height: 185px;
  }

  .filter-first-name-label {
    margin: 0;
    margin-right: 17px;
  }

  .filter-middle-name-label {
    margin: 0;
    margin-right: 17px;
  }

  .filter-last-name-label {
    margin: 0;
    margin-right: 20px;
  }

  input[type="radio"] {
    width: 36px;
    height: 36px;
    margin-left: 7px;
    margin-right: 6px;
  }

  input[type="radio"] + label::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 58px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    background-color: $white;
  }


  input[type="radio"]:checked + label::before {
    position: absolute;
    content: "";
    z-index: 1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $pink;
    top: 6px;
    left: 70px;
  }

  input[type="radio"] + label,
  input[type="checkbox"] + label {
    position: relative;
    color: $dark-blue;
    font-size: 19px;
    line-height: 30px;
    font-weight: normal;
    text-transform: none;
    padding-left: 116px;
    margin-top: 20px;
  }

  input[type="checkbox"] + label::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 58px;
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    background-color: $white;
  }

  input[type="checkbox"]:checked + label::after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../img/icon-yes.svg");
  }

  .competition-form__title-message {
    padding: 0 35px;
    margin-bottom: 0;
  }

  .competition-form__button {
    margin: 0;
    margin-left: 19px;
    padding: 12px 57px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__filter {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .competition-form__item {
    min-width: 500px;
  }

  .competition-form__item-application {
    min-height: 297px;
  }

  .competition-form__item-contact-information .competition-form__list {
    display: flex;
    flex-direction: row;
    min-width: 936px;
    justify-content: space-between;
  }

  .competition-form__item-contact-information .site-list__item {
    flex-direction: column-reverse;
    width: 400px;
  }

  .competition-form__item-contact-information input {
    height: 60px;
    width: 371px;
    margin-bottom: 21px;
    box-sizing: border-box;
  }

  .competition-form__item-progress {
    min-width: 936px;
  }

  .competition-form__item-message {
    min-width: 936px;
  }

  .competition-form__item-message textarea {
    margin: 47px 60px 53px;
    width: 800px;
  }

  .competition-form__button-wrapper {
    min-width: 936px;
  }
}
