.competition-form fieldset {
  border: none;
}

.competition-form__item label {
  font-weight: normal;
  color: $pink;
  text-transform: uppercase;
}

input[type="text"], input[type="number"], input[type="email"]{
  min-width: 177px;  
  padding: 22px 79px 18px 22px;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  outline: none;
  border: 2px solid #e5e5e5;
  border-radius: 3px 3px;
}

input[type="text"]::placeholder, input[type="number"]::placeholder, input[type="email"]::placeholder, textarea::placeholder  {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
}

.competition-form__item:nth-child(2n) {
  background-color: $white-two;
  margin-bottom: 41px;
}

.competition-form__title {
  color: $pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

input[type="radio"] + label, input[type="checkbox"] + label,{
  color: $dark-blue;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-transform: none;
}

.competition-form__item textarea {
width: 276px;
height: 197px;
padding: 23px 28px 23px 19px;
color: $dark-blue;
font-size: 18px;
line-height: 30px;
font-weight: normal;
border: 2px solid #e5e5e5;
border-radius: 3px 3px;
outline: none;
resize: none;
margin-bottom: 52px;
}

.competition-form__button {
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  padding: 12px 47px;
  text-transform: uppercase;
  background: $green;
  border-radius: 3px 3px;
  outline: none;
  margin-bottom: 46px;
}

.competition-form__required-fields {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.competition-form__required-fields sup {
  color: $pink;
}