.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.contacts__contacts-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -5px;
}

.contacts__title {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 35px;
}

.contacts__phone {
  text-decoration: none;
}

.contacts__text {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 27px;
}

.contacts__text span {
  display: inline-block;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: $pink;
  margin-top: 7px;
}

.contacts__email .contacts__phone {
  text-decoration: none;
}

.contacts__email {
  text-decoration: none;
}

.contacts__map {
  position: relative;
  width: 320px;
  height: 220px;
  background-image: url("/img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 -425px;
}

.contacts__map-design {
  background-image: url("/img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: -138px -9px;
  height: 100px;
}

.contacts__map-marker {
  position: absolute;
  top: 115px;
  left: 142px;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 660px;
    margin: 0 auto;
  }

  .contacts__contacts-blocks {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__text span {
    margin-top: 9px;
  }

  .contacts__email-block {
    flex-grow: 1;
  }

  .contacts__phone-block {
    flex-grow: 1;
    margin-left: 16px;
  }

  .contacts__addres-block {
    flex-grow: 1;
    margin-top: 22px;
    margin-bottom: 9px;
    min-width: 300px;

    span {
      margin-top: 13px;
    }
  }

  .contacts__map {
    background-image: url("/img/bg-map-tablet@1x.jpg");
    width: 660px;
    height: 374px;
    background-position: -20px -346px;
  }

  .contacts__map-design {
    background-image: url("/img/bg-triangle-white-footer.svg");
    background-size: contain;
    background-position: 0 -1px;
    z-index: 1;
  }

  .contacts__map-marker {
    position: absolute;
    top: 194px;
    left: 312px;
  }

  .contacts__title {
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    font-weight: light;
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1200px;
    margin: 0 auto;
  }

  .contacts__title {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    font-weight: light;
    margin-bottom: 58px;
  }

  .contacts__text {
    margin: 0;
    min-width: 300px;
  }

  .contacts__email-block {
    order: 3;
    min-height: 100px;

    .contacts__email-address {
      margin-top: 31px;
    }
  }

  .contacts__phone-block {
    order: 1;
    min-height: 100px;
    margin: 0;

    .contacts__phone-mobile {
      margin-top: 29px;
    }
  }

  .contacts__addres-block {
    order: 2;
    margin: 0;

    .contacts__address {
      margin-top: 30px;
      line-height: 26px;
    }
  }

  .contacts__contacts-blocks {
    align-items: flex-start;
    justify-content: space-between;
    min-width: 964px;
    margin-bottom: 3px;
  }

  .contacts__map {
    background-image: url("/img/bg-map-desktop@1x.jpg");
    width: 1200px;
    height: 520px;
    background-position: 0 -257px;
    margin-bottom: 39px;
  }

  .contacts__map-design {
    height: 126px;
    background-image: url("/img/bg-triangle-white-footer.svg");
    background-size: contain;
    background-position: 0 0;
    z-index: 1;
  }

  .contacts__map-marker {
    position: absolute;
    top: 284px;
    left: 581px;
  }
}
