.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.contacts__contacts-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.contacts__phone {
  text-decoration: none;
}

.contacts__text {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.contacts__text span {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $pink;
}

.contacts__email .contacts__phone {
  text-decoration: none;
}

.contacts__email {
  text-decoration: none;
}

.contacts__map {
  position: relative;
  width: 320px;
  height: 220px;
  background-image: url("/img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 -425px;
}

.contacts__map-design {
  background-image: url("/img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: -138px -9px;
  height: 100px;
}

.contacts__map-marker {
  position: absolute;
  top: 115px;
  left: 139px;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 660px;
    margin: 0 auto;
  }

  .contacts__contacts-blocks {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__email-block {
    flex-grow: 1;
  }

  .contacts__phone-block {
    flex-grow: 1;
  }

  .contacts__addres-block {
    flex-grow: 1;
    margin-bottom: 40px;
    min-width: 300px;
  }

  .contacts__map {
    background-image: url("/img/bg-map-tablet@1x.jpg");
    width: 660px;
    height: 372px;
    background-position: 0 -350px;
  }

  .contacts__map-design {
    background-image: url("/img/bg-triangle-white-footer.svg");
    background-size: contain;
    background-position: 0 0;
    z-index: 1;
  }

  .contacts__map-marker {
    position: absolute;
    top: 188px;
    left: 332px;
  }

  .contacts__title {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: light;
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1200px;
    margin: 0 auto;
  }

  .contacts__text {
    margin: 0;
    min-width: 300px;
  }

  .contacts__email-block {
    order: 3;
  }

  .contacts__phone-block {
    order: 1;
  }

  .contacts__addres-block {
    order: 2;
  }

  .contacts__contacts-blocks {
    align-items: flex-start;
    justify-content: space-between;
  }

  .contacts__map {
    background-image: url("/img/bg-map-desktop@1x.jpg");
    width: 1200px;
    height: 520px;
    background-position: 0 -258px;
  }

  .contacts__map-design {
    height: 300px;
    background-image: url("/img/bg-triangle-white-footer.svg");
    background-size: contain;
    background-position: 0 0;
    z-index: 1;
  }

  .contacts__map-marker {
    position: absolute;
    top: 281px;
    left: 573px;
  }
}
