.contacts__title {
   font-size: 24px;
   line-height: 24px;
   font-weight: normal;
}


.contacts__text {

  font-size: 18px;
   line-height: 18px;
   font-weight: bold;
}

.contacts__text span {
   font-size: 24px;
   line-height: 24px;
   font-weight: normal;
   color: $pink;
}

.contacts__email, .contacts__phone {

 text-decoration: none;
}

.contacts__map {
  position: relative;
  width: 320px;
  height: 220px;
  background-image: url("/img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 -425px;
}

.contacts__map-design {
  background-image: url("/img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: -138px -9px;
  height: 100px;
}

.contacts__map-marker {
  position: absolute;
  top: 115px;
  left: 139px;
}
