.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white-two;
  padding-top: 20px;
  margin-bottom: 20px;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 210px;
  margin-bottom: 39px;
}

.filter__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__photo-item {
  margin-bottom: 40px;
}

.filter__size {
  width: 44px;
  height: 44px;
  font-size: 0;
  background-image: url("../../img/icon-editor-crop.svg");
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
}

.filter__color {
  width: 48px;
  height: 43px;
  font-size: 0;
  background-image: url("../../img/icon-editor-fill.svg");
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  margin-right: 10px;
}

.filter__contrast {
  width: 32px;
  height: 32px;
  font-size: 0;
  background-image: url("../../img/icon-editor-contrast.svg");
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  padding: 0;
  margin-right: 10px;
}

.filter__unload {
  width: 280px;
  background: none;
  border: 3px solid $pink;
  border-radius: 25px 25px;
  padding: 15px 25px;
  color: $pink;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.filter__slider {
  margin-bottom: 73px;
}

.filter__slider-color,
.filter__slider-size,
.filter__slider-contrast {
  display: none;
}

.filter__slider-line {
  position: relative;
  content: "";
  width: 240px;
  height: 2px;
  background-color: $black;
}

.filter__slider-point {
  position: absolute;
  content: "";
  top: -6px;
  left: 192px;
  width: 10px;
  height: 10px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: $white-two;
}

.filter__cancel {
  width: 280px;
  background: none;
  border: 3px solid $dark-blue-down;
  border-radius: 25px 25px;
  padding: 15px 25px;
  color: $dark-blue-down;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .filter {
    width: 660px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: $white-two;
    margin-bottom: 0;
    padding-bottom: 9px;
  }

  .filter__photo-item {
    padding: 40px 20px 0;
    width: 300px;
    height: 400px;
  }

  .filter__slider-size,
  .filter__slider-color,
  .filter__slider-contrast {
    display: block;
    position: relative;

    .filter__slider-line {
      width: 200px;

      &::after {
        position: absolute;
        content: "";
        top: 36px;
        left: -56px;
        width: 275px;
        height: 1px;
        background-color: $dark-blue-down;
      }
    }
  }

  .filter__slider {
    display: none;
  }

  .filter__slider-size {
    &::before {
      position: absolute;
      content: "";
      top: -24px;
      left: -67px;
      width: 50px;
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../../img/icon-editor-crop.svg");
      background-size: 22px 22px;
    }

    .filter__slider-point {
      left: 146px;
    }
  }

  .filter__slider-color {
    &::before {
      position: absolute;
      content: "";
      top: -20px;
      left: -66px;
      width: 50px;
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../../img/icon-editor-fill.svg");
      background-size: 24px 22px;
    }

    .filter__slider-point {
      left: 25px;
    }
  }

  .filter__slider-contrast {
    &::before {
      position: absolute;
      content: "";
      top: -24px;
      left: -64px;
      width: 50px;
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../../img/icon-editor-contrast.svg");
      background-size: 16px 16px;
    }

    .filter__slider-point {
      left: 96px;
    }
  }

  .filter__slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 146px;
    margin-left: 60px;
    margin-bottom: 103px;
    margin-top: 56px;
  }

  .filter__photo-wrapper {
    flex-shrink: 0;
  }

  .filter__button-wrapper {
    min-height: 420px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 20px;
  }

  .filter-button {
    display: none;
  }

  .filter__unload {
    width: 260px;
    background: none;
    border: 3px solid $pink;
    border-radius: 30px 30px;
    padding: 15px 25px;
    color: $pink;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    margin: 0;
    margin-left: 12px;
    margin-bottom: 24px;
  }

  .filter__cancel {
    width: 260px;
    background: none;
    border: 3px solid $dark-blue-down;
    border-radius: 30px 30px;
    padding: 15px 25px;
    color: $dark-blue-down;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    margin: 0;
    margin-left: 12px;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    width: 1200px;
    padding: 0;
  }

  .filter__button-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 400px;
  }

  .filter__photo-wrapper {
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid red;
    min-width: 30%;
    padding: 57px 80px;
  }

  .filter__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .filter__photo-item {
    margin-bottom: 0;
  }

  .filter__slider {
    min-width: 70%;
  }

  .filter__unload {
    margin: 0;
    width: 183px;
    margin-right: 55px;
  }

  .filter__cancel {
    margin: 0;
    width: 183px;
  }
}
