.main-nav {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-nav__list a {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 15px;
  color: $white;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $pink;
  }

  &:active {
    color: $pink-down;
  }

  &:focus {
    color: $pink;
  }
}

.main-nav .site-list__item {
  border-top: 1px solid black;
  width: 100%;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  width: 24px;
  height: 23px;
  font-size: 0;
  background-image: url("../../img/icon-menu-cross.svg");
  background-color: inherit;
  border: none;
  outline: none;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  width: 50px;
  height: 24px;
  font-size: 0;
  background-image: url("../../img/icon-menu-burger.svg");
  background-color: inherit;
  border: none;
  outline: none;
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-grow: 0;
    flex-direction: row;
  }

  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__list a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    text-transform: none;
    min-width: 150px;
  }

  .main-nav__toggle {
    visibility: hidden;
  }

  .main-nav .site-list__item {
    border-top: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}
