.main-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.main-nav__list a {
  display: flex;
  justify-content: center;
  min-width: 320px;
  padding: 15px;
  color: $white;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav .site-list__item {
  border-top: 1px solid black;
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  left: 277px;
  width: 24px;
  height: 23px;
  font-size: 0;
  background-image: url(../../img/icon-menu-cross.svg);
  background-color: inherit;
  border: none;
}



