.promo__item {
  font-size: 14px;
  line-height: 30px;
}

.page-main__photos {
  min-height: 200px;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-main__title {
  margin: 0;
  padding-top: 20px;
  color: $white;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .promo__item {
    font-size: 18px;
    line-height: 30px;
  }
}
