.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.page-footer__copyright {
  min-height: 100px;
}

.page-footer__logo-image {
  min-height: 100px;
}

.social__list {
display: flex;
flex-direction: row;
align-items: center;
min-width: 182px;
min-height: 100px;
justify-content: space-between;
}

.social__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 3px solid $dark-blue-down;
  border-radius: 50%;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    padding: 0 20px;
  }

  .page-footer__copyright {
    min-width: 120px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}
