.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer__social {
  margin-bottom: 20px;
}

.page-footer-index {
  display: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  min-width: 129px;
}

.page-footer__logo-image {
  min-height: 83px;
}

.social__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 182px;
  min-height: 84px;
  justify-content: space-between;
}

.social__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 3px solid $dark-blue-down;
  border-radius: 50%;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin-top: 5px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .page-footer__logo {
    .page-footer__logo-image {
      min-height: 83px;
      margin-top: -10px;
    }
  }

  .page-footer__copyright {
    min-width: 120px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .page-footer-index {
    display: flex;
  }

  .page-footer__logo-image {
    min-height: 83px;
    margin-left: 2px;
  }

  .page-footer__htmlacademy-logo {
    margin-top: 10px;
  }

  .copyright__text {
    margin-right: 14px;
  }
}
