.page-header {
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  color: $white;
}

.page-header__photos {
  min-height: 200px;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.page-header__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.page-header__logo {
  padding: 20px;
}
