.page-header {
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  color: $white;
}

.page-header__logo {
  padding: 20px;
  z-index: 1;
}

.page-header__logo svg {
  width: 150px;
  height: 26px;
}

.page-header__logo--closed {
  background-color: rgba(0, 0, 0, 0.3);
}

.logo-pink-white-tablet {
  display: none;
}

.logo-pink-white-desktop {
  display: none;
}

.page-header__logo svg {
  cursor: pointer;
    &:hover {
      * > path {
        fill: $pink;
      }
    &:active {
      * > path {
        fill: $white-hover;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header__photos {
    min-height: 300px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-header__title {
    padding: 30px 60px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    font-weight: light;
  }

  .page-header__logo {
    padding: 27px 20px;
    margin-bottom: 10px;
  }

  .page-header__logo img {
    width: 147px;
    height: 40px;
    padding: 0;
  }

  .logo-pink-white-mobile {
    display: none;
  }

  .logo-pink-white-tablet {
    display: block;
  }

  .logo-pink-white-desktop {
    display: none;
  }

  .page-header__logo svg {
    width: 226px;
    height: 41px;
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    min-height: 110px;
    align-items: center;
    padding: 0 114px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo {
    display: flex;
    min-width: 170px;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }


  .page-header__logo img {
    width: 147px;
    height: 40px;
    margin-bottom: 12px;
    margin-left: 6px;
  }

  .page-header__logo--closed {
    background-color: transparent;
  }

  .logo-pink-white-mobile {
    display: none;
  }

  .logo-pink-white-tablet {
    display: none;
  }

  .logo-pink-white-desktop {
    display: block;
  }
  
  .page-header__logo svg {
    width: 150px;
    height: 57px;
    margin-left: 11px;
  }
}
