.page-footer {
  margin-top: 64px;
}

.social__item {
  width: 46px;
  height: 46px;
  border: 3px solid $dark-blue-down;
  border-radius: 50%;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.page-footer__logo {
  margin-bottom: 43px;
}

.page-footer__social {
  margin-bottom: 50px;
}