.publication-card {
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  background: $white-two;
  margin-bottom: 30px;
}

.publication-card__panorama {
  width: 100%;
  min-width: 360px;
  min-height: 137px;
  background-image: url(../../img/panorama-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.publication-card__description {
padding: 20px;
}

.publication-card__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.publication-card__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: light;
}

.publication-card__text {
  max-width: 230px;
  font-size: 14px;
  line-height: 24px;
  font-weight: light;
}

.publication-card__like {
  display: block;
    width: 13px;
    height: 12px;
    background-image: url(../../img/icon-heart.svg);
    background-color: inherit;
    border: none;
    background-position: 1px;
}

.publication-card__like-container {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.publication-card__like-description, .publication-card__like-total {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .publication-card__panorama {
    background-image: url(../../img/panorama-tablet@1x.jpg);
    min-height: 509px;
  }



  .publication-card__description-panorama .publication-card__text {
    max-width: 620px;
    font-size: 14px;
    line-height: 24px;
    font-weight: light;
  }

  .publication-card {
    min-width: 300px;
  }

  .publication-card__description-panorama {
    min-width: 620px;
    height: 200px;
  }
}

