.publication-card {
  display: flex;
  border: 1px solid $white;
  flex-direction: column;
  background: $white-two;
  margin-bottom: 15px;
  width: 280px;

  &:nth-last-child(1) {
    margin-bottom: 24px;
  }
}

.publication__photo--popular {
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    height: 36px;
    background-color: $pink;
  }

  &::after {
    content: "панорма дня";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 40px;
    color: $white;
  }
}

.publication-card__panorama {
  width: 100%;
  min-width: 320px;
  min-height: 137px;
  background-image: url("../../img/panorama-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.publication-card__description {
  margin: 0;
  padding: 17px 18px 25px 17px;
}

.publication-card__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.publication-card__time {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: light;
}

.publication-card__text {
  margin: 0;
  margin-bottom: 19px;
  font-size: 14px;
  line-height: 23px;
  font-weight: light;
}

.publication-card__like {
  display: block;
  width: 13px;
  height: 12px;
  background-image: url("../../img/icon-heart.svg");
  background-color: inherit;
  border: none;
  background-position: 1px;
}

.publication-card__like-container {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.publication-card__like-total {
  color: $pink;
  font-weight: normal;
  font-size: 12px;
  margin-right: 19px;
  margin-top: -1px;
}

.publication-card__like-description {
  color: $pink;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  margin-left: 13px;
}

// @media (max-width: $mobile-width) {

// }

@media (min-width: $tablet-width) {
  .publication-card__panorama {
    background-image: url("../../img/panorama-tablet@1x.jpg");
    min-height: 509px;
  }

  .publication-card {
    width: 300px;
    min-height: 455px;
  }

  .publication-card:nth-child(1) {
    min-width: 620px;
    min-height: 100px;
  }
}

@media (min-width: $desktop-width) {
  .publication-card:nth-child(1) {
    min-width: 940px;
    min-height: 100px;
  }
}
