.research {
  display: none;
}

@media (min-width: $tablet-width) {
  .research {
    display: flex;
    flex-direction: row;
    border: 3px solid yellow;
  }

  .research__img {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
    border: 1px solid red;
    padding: 20px;
  }

  .research__img::after {
    content: "";
    position: absolute;
    top: 87px;
    width: 175px;
    height: 175px;
    border: 15px solid #d22856;
    background: $white-two;
    border-radius: 50%;
  }

  .research__hours {
    position: absolute;
    font-size: 96px;
    font-weight: bold;
    color: $pink;
    top: 38px;
    z-index: 1;
  }

  .research__text-content {
    border: 1px solid red;
    display: flex;
    min-width: 202px;
    min-height: 295px;
    flex-direction: column;
  }

  .research__title {
    font-size: 30px;
    line-height: 36px;
  }

  .research__discription {
    font-size: 16px;
    line-height: 24px;
  }

  .research__text-content a {
    color: $pink;
  }
}
