.reviews {
  margin-bottom: 74px;
}
///////////////////////


.reviews__wrapper {
  display: flex;
  flex-direction: column;
  height: 306px;
  position: relative;
  background: $white;
}

.reviews__wrapper blockquote {
  text-align: center;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}


.reviews__wrapper-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
  height: inherit;
  position: relative;
}

.reviews__wrapper-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin-top: -7px;
}

// #reviews__slide1:checked ~ .reviews__wrapper-slider > .reviews__slide1,
// #reviews__slide2:checked ~ .reviews__wrapper-slider > .reviews__slide2,
// #reviews__slide3:checked ~ .reviews__wrapper-slider > .reviews__slide3 {
//   opacity: 1;
//   z-index: 1;
//   transform: scale(1);
// }

.reviews__slide1 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

.reviews__wrapper > input {
  display: none;
}

.reviews__wrapper .reviews__slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 17px 0 8px;
  position: relative;
  border-radius: 50%;
}

// .reviews__wrapper label:hover,
// #reviews__slide1:checked ~ .reviews__slider-controls label:nth-of-type(1),
// #reviews__slide2:checked ~ .reviews__slider-controls label:nth-of-type(2),
// #reviews__slide3:checked ~ .reviews__slider-controls label:nth-of-type(3) {
//   background: rgb(218, 216, 216);

// }

  .reviews__slider-controls label:nth-of-type(1) {
    border: 3px solid $dark-blue;
    width: 6px;
    height: 6px;
    top: 4px;
    left: 4px;

    &::after {
      background-color: transparent;
    }
  }

  .reviews__wrapper label::after {
    content: " ";
    display: block;
    height: 6px;
    left: -4px;
    position: absolute;
    top: 4px;
    width: 6px;
    border-radius: 50%;
    background-color: $dark-blue-hover;
  }

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  color: $black;
  margin: 0;
  margin-bottom: 13px;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  margin: 0 17px 0;
}
