.tariff {
  margin-bottom: 41px;
}

@media (max-width: $mobile-width) {
  .tariff {
    position: relative;

    &::before {
      position: absolute;
      top: -28px;
      left: -4px;
      content: "";
      width: 0;
      height: 0;
      border-bottom: 26px solid $white-two;
      border-left: 323px solid transparent;
      z-index: -1;
    }

    &::after {
      position: absolute;
      top: -3px;
      left: 0;
      content: "";
      width: 320px;
      height: 100px;
      z-index: -1;
      background-color: $white-two;
    }
  }
}

.tariff__list {
  display: none;
}

.tariff__slider {
  margin-bottom: 100px;
}

.tariff__wrapper {
  display: flex;
  flex-direction: column;
  height: 444px;
  position: relative;
  background: #f2f2f2;
}

.tariff__wrapper-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
  height: inherit;
  position: relative;
  margin-bottom: -44px;
}

.tariff__wrapper-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 0;
}

// #tariff__slide1:checked ~ .tariff__wrapper-slider > .tariff__slide1,
// #tariff__slide2:checked ~ .tariff__wrapper-slider > .tariff__slide2,
// #tariff__slide3:checked ~ .tariff__wrapper-slider > .tariff__slide3 {
//   opacity: 1;
//   z-index: 1;
//   transform: scale(1);
// }

.tariff__slide2 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

.tariff__wrapper > input {
  display: none;
}

.tariff__wrapper .tariff__slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.tariff__wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 17px 0 8px;
  position: relative;
  border-radius: 50%;
}

.tariff__wrapper label:nth-of-type(1) {
  left: 14px;
}

// .tariff__wrapper label:hover,
// #tariff__slide1:checked ~ .tariff__slider-controls label:nth-of-type(1),
// #tariff__slide2:checked ~ .tariff__slider-controls label:nth-of-type(2),
// #tariff__slide3:checked ~ .tariff__slider-controls label:nth-of-type(3) {
//   background: rgb(218, 216, 216);
// }

.tariff__slider-controls label:nth-of-type(2) {
  border: 3px solid $dark-blue;
  width: 6px;
  height: 6px;
  top: 4px;
  left: 4px;

  &::after {
    background-color: transparent;
  }
}

.tariff__wrapper label::after {
  content: " ";
  display: block;
  height: 6px;
  left: -6px;
  position: absolute;
  top: 4px;
  width: 6px;
  border-radius: 50%;
  background-color: $dark-blue-hover;
}

.tariff__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $dark-blue;
  color: $white;
  min-height: 97px;
}

.tariff__title {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 2px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.tariff__cost {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: light;
}

.tariff__item-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 20px;
  background-color: $white;
}

.tariff__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 14px 39px 14px 42px;
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}


@media (min-width: $tablet-width) {
  .tariff__slider {
    display: none;
  }

  .tariff {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .tariff__list {
    display: block;
    border-collapse: collapse;
    background: $white;
  }

  .tariff__header {
    min-width: 152px;
    background: $dark-blue;
    color: $white;
    text-transform: uppercase;
    border: 2px solid #e5e5e5;
    border-radius: 5px 5px;
  }

  .tariff__header:nth-child(1) {
    background: $white-two;
    border: none;
  }

  .tariff__name {
    font-size: 16px;
    line-height: 30px;
    margin: 10px;
  }

  .tariff__cost {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin: 10px;
  }

  .tariff__value {
    font-size: 14px;
    line-height: 30px;
    border: 2px solid #e5e5e5;
    padding-left: 15px;
  }

  .tariff__field {
    border: 2px solid #e5e5e5;
    text-align: center;
    height: 45px;
  }
}
