.tariff__list {
  display: none;
}

.tariff__slider {
  margin-bottom: 100px;
}

.tariff__wrapper {
  display: flex;
  flex-direction: column;
  height: 500px;
  position: relative;
  background: #f2f2f2;
}

.tariff__wrapper-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
  height: inherit;
  position: relative;
}

.tariff__wrapper-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 0;
}

// #tariff__slide1:checked ~ .tariff__wrapper-slider > .tariff__slide1,
// #tariff__slide2:checked ~ .tariff__wrapper-slider > .tariff__slide2,
// #tariff__slide3:checked ~ .tariff__wrapper-slider > .tariff__slide3 {
//   opacity: 1;
//   z-index: 1;
//   transform: scale(1);
// }

.tariff__slide2 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

.tariff__wrapper > input {
  display: none;
}

.tariff__wrapper .tariff__slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.tariff__wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
}

// .tariff__wrapper label:hover,
// #tariff__slide1:checked ~ .tariff__slider-controls label:nth-of-type(1),
// #tariff__slide2:checked ~ .tariff__slider-controls label:nth-of-type(2),
// #tariff__slide3:checked ~ .tariff__slider-controls label:nth-of-type(3) {
//   background: rgb(218, 216, 216);
// }

.tariff__slider-controls label:nth-of-type(2) {
  background: rgb(218, 216, 216);
}

.tariff__wrapper label::after {
  content: " ";
  border: 2px solid rgb(221, 221, 221);
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  border-radius: 50%;
}

.tariff__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $dark-blue;
  color: $white;
}

.tariff__title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.tariff__cost {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: light;
}

.tariff__item-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 20px;
  background-color: $white;
}

.tariff__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 20px 40px;
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}


@media (min-width: $tablet-width) {
  .tariff__slider {
    display: none;
  }

  .tariff {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .tariff__list {
    display: block;
    border-collapse: collapse;
    background: $white;
  }

  .tariff__header {
    min-width: 152px;
    background: $dark-blue;
    color: $white;
    text-transform: uppercase;
    border: 2px solid #e5e5e5;
    border-radius: 5px 5px;
  }

  .tariff__header:nth-child(1) {
    background: $white-two;
    border: none;
  }

  .tariff__name {
    font-size: 16px;
    line-height: 30px;
    margin: 10px;
  }

  .tariff__cost {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin: 10px;
  }

  .tariff__value {
    font-size: 14px;
    line-height: 30px;
    border: 2px solid #e5e5e5;
    padding-left: 15px;
  }

  .tariff__field {
    border: 2px solid #e5e5e5;
    text-align: center;
    height: 45px;
  }
}
