.technology-list {
  min-width: 205px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .technology-list {
    justify-content: start;
  }

}
