$tablet-width: 660px;
$desktop-width: 1200px;

$black: rgba(000, 000, 000, 1);

$dark-blue: rgba(40, 54, 69, 1);
$dark-blue-hover: rgba(40, 54, 69, 0.6);
$dark-blue-slider: rgba(40, 54, 69, 0.3);
$dark-blue-down: rgba(40, 54, 69, 0.1);

$pink: rgba(210, 40, 86, 1);
$pink-down: rgba(210, 40, 86, 0.3);

$white: rgba(255, 255, 255, 1);
$white-hover: rgba(255, 255, 255, 0.3);
$white-two: rgba(242, 242, 242, 1);


$green: rgba(42, 171, 109, 1);
$green-hover: rgba(28, 155, 94, 1);
$green-disabled: rgba(42, 171, 109, 1);

$mail-link-down: rgba(40, 54, 69, 0.3);
